/* boxing for layout testing
  border: 1px solid red;
*/



*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}


.app{
margin: 50px;
}

.topnav{
  background-color: grey;
  overflow: hidden;
}
.topnav a{
  float: left;
  color:#f2f2f2;
  overflow: hidden;
  padding: 7px 15px;
  font-size: 17px;
  font-family: Arial;
}

.topnav a:hover{
  background-color: #ddd;
  color: black;

}

.topnav a.active{
  background-color: #4CAF50;
  color: white;
}


.banner{
  color:white;
  background-color: red;
  font-size: 62px;
  font-family: cursive;
  margin: 10px auto;
  padding: 50px;
  text-align: center;
}

/*
  assignment 4 additions start
*/

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
    display: flex;
}

.UAHomeImg{
  width: 1200px;
  height: 400px;
}

.col-3 {
  border: 2px solid #000;
  width: 33.33%;
  padding: 10px
}

.head{
  font-size: 50px;
  margin-top: 10px;
}

.p{
}

/*
  assignment 4 additions end

*/

.photos{
  max-width: 1200px;
  display: flex;

}

.student1photo{
    max-width: 300px;
    padding-left: 100px;
    padding-right: 90px;


}

.student2photo{
    max-width: 300px;
    padding-left: 100px;
    padding-right: 90px;


}

.photo2{
  width: 210px;
  height: 244px;
}

.student3photo{
    max-width: 300px;
    padding-left:90px;
    padding-right: 100px;

}

.bios{
  display: flex;
  max-width: 1200px;

}

.student1bio{
  max-width: 300px;
  padding-left: 50px;
  padding-right: 50px;
}

.student2bio{
  max-width: 300px;
  padding-left: 50px;
  padding-right: 50px;
}

.student3bio{
  max-width: 300px;
  padding-left: 50px;
  padding-right: 50px;
}

.footerBanner{
  text-align: center;
  background-color: grey;
  color: white;
  padding: 30px;
}

.footerimg{
  float:center;
  width: 55px;
  height: 42px;
}
